
/* dark theme */
body {
	font-family: Verdana;
	background-color: #1e2124; 
	max-width: 640px;
	margin: auto;
	padding: 10px;
}

nav, main, footer {
  background: #282b30;
  margin: 10px;
  padding: 10px;
}

p, h1, h3, aside, figcaption, li, label {
	color: #FFFFFF;
}


/* hovered & visited links change color */
a {
  color: #9656ce;
}
a:visited {
  color:  #5b209a;
}
a:hover {
  background-color: #1e2124;
}



/* .pdf and .docx file extension links in "href" will have a small icon next to them */
a[href$=".pdf"] { 
  background: url('../images/pdf.png') 0 50% no-repeat; 
  padding-left: 25px;
}
a[href$=".docx"] { 
  background: url('../images/docx.png') 0 50% no-repeat; 
  padding-left: 25px;
}


/* figure images have purple border */
figure > img {
	border: 10px solid purple;
	padding: 15px;
	border-image: url('../images/border.png') 30 round;
}


.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

.navbar li {
  float: left;
  vertical-align: center;
  list-style-type: none;
  display: inline;
}

.navbar li a {
  display: block;
  text-align: center;
  padding: 0px 10px 0px 10px;
  font-size: 17px;
}

/* TABLE */
table {
  border: solid 1pt white;
  border-collapse: collapse;
  color: white;
}
td {
  border: solid 1pt white;
  padding: 10pt;
  text-align: center;
}
th {
  background-color: #1e2124;
}

/* FORMS */
input, textarea {
  border: 0;
  margin: 3px;
  padding: 7px 5px;
  border-radius: 2px;
  color: white;
  background-color: #424549;
}

input[type=submit] {
  color: white;
  background-color: #5b209a;
}
input[type=submit]:hover {
  color: white;
  background-color: #9656ce;
}
input[type=reset]:hover {
  background-color: #696e74;
}

label {
  display: block;
  margin: 10px 0 0 5px;
}